# build outputs
build/
lib/

# SCRAM source
bin/*
!bin/BuildFile.xml
!bin/*.cc

# analysis outputs
plots/
*.root
*.png
*.pdf
!data/veto/*.root

# closure/reprocessing
cfg/*clos*.toml
data/jec/preliminary/

# editor/OS
*.swp
.DS_Store

# scratch work
local/
tmp/
